{% extends 'base.html' %}

{% block title %}Family Archive - About Us{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="mb-4">About Us</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <img src="static/images/test_photo.jpeg" class="img-fluid rounded" alt="Test photo">
        <!-- need to change the size to 660x400 -->
    </div>
    <div class="col-lg-6">
        <h2>Our Story</h2>
        <p>
            We were looking for a way we could share our photos with just our family. More functionality will be added as we develop this site.
        </p>
        
        <h2 class="mt-4">Our Mission</h2>
        <p>
            Our mission is to connect families across space and time.   
        </p>
        
        <h2 class="mt-4">Our Team</h2>
        <p>
            Our team cares about your privacy and security. Your photos are encrypted and stored securely. Our free plan offers 5GB of storage, while our paid plan offers 50GB of storage. Check back for more features as we develop them.
        </p>
    </div>
</div>
{% endblock %}
