{% extends 'base.html' %}

{% block title %}Family Photo Archive - Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to Your Family Archive</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">We provide a secure and private way to store and share your photos with family members near and far.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('contact') }}" class="btn btn-outline-secondary btn-lg px-4">Contact Us</a>
            <a href="{{ url_for('about') }}" class="btn btn-outline-secondary btn-lg px-4">Learn More</a>
            <a href="{{ url_for('uploadphoto') }}" class="btn btn-outline-secondary btn-lg px-4">Upload Photo</a>
        </div>
    </div>
</div>

<!-- Features Section -->
<!-- <div class="row g-4 py-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Person 1 album</h2>
                <p class="card-text">placeholder for person1 photo carousel.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Person 2 album</h2>
                <p class="card-text">placeholder for person2 photo carousel.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Person 3 album</h2>
                <p class="card-text">placeholder for person3 photo carousel.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- Gallery section -->




{% endblock %}
